:root {
  --dark: #0f0f0f;
  --light: #f7f7f7;
  --gray: #d4d4d4;
  --red: #db1024;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Sen", sans-serif;
}

body {
  font-family: "Sen", sans-serif;
  font-size: 1rem;
  color: var(--black);
  text-align: left;
  background-color: var(--light);
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--light);
}

/* Utility Classes start */
.container {
  max-width: 1200px;
}

.row {
  margin: 0;
}

.active {
  color: var(--red);
}

.activeTag {
  width: 100%;
  background-color: var(--red);
  clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0 100%, 0 0);
}
/* Utility Classes end */

/* Navbar */
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5rem;
  color: var(--light);
  background: rgb(235, 17, 31);
  background: linear-gradient(
    110deg,
    rgba(235, 17, 31, 1) 0%,
    rgba(235, 17, 31, 1) 30%,
    rgba(0, 0, 0, 1) 30%,
    rgba(184, 14, 14, 1) 30%,
    rgba(184, 14, 14, 1) 31%,
    rgba(0, 0, 0, 1) 31%,
    rgba(0, 0, 0, 1) 100%
  );
}

#navbar img {
  max-width: 150px;
}

#navbar .navItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar .navItems > div {
  display: flex;
  justify-content: center;
}

#navbar .navItems img {
  display: flex;
}

#navbar .navItems ul {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar .navItems ul li {
  padding: 20px;
  text-transform: uppercase;
}
/* Navbar */

/* Under navbar start */
#list ul {
  display: flex;
  padding: 15px 0;
}

#list ul li a {
  padding: 4px 18px;
}

#list a {
  color: var(--dark);
}

#list .activeTag {
  color: var(--light);
}

#list .listItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#list #searchBar {
  padding: 5px;
  border: none;
  width: 200px;
}

#list .searchBar {
  color: var(--gray);
}

/* Under navbar end */

/* Header start */
#header {
  height: 30rem;
  background-color: var(--gray);
}

#header div {
  height: 100%;
  padding: 0;
}

#header #secThird {
  /* min-height: 100%; */
}

#header .halfHeight {
  height: 50%;
}

#header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-items {
  position: relative;
}
.card-items::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.card-items .title {
  font-size: 2.4rem;
  color: var(--light);
  position: absolute;
  bottom: 50px;
  left: 30%;
  max-width: 65%;
}

.card-items .dateInfo {
  position: absolute;
  bottom: 15px;
  left: 30%;
  font-size: 1rem;
  font-weight: 200;
  color: var(--light);
}

.card-items .tag {
  position: absolute;
  top: 30px;
  left: 30%;
  color: var(--light);
  display: flex;
  align-items: center;
  width: 150px;
  max-height: 30px;
  background-color: var(--red);
  clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);
}
.card-items .tag h5 {
  padding-left: 10px;
  font-weight: 200;
}

/* Second and third post */
#secThird .title {
  font-size: 1.3rem;
  color: var(--light);
  position: absolute;
  bottom: 50px;
  left: 5%;
  max-width: 65%;
}

#secThird .dateInfo {
  position: absolute;
  bottom: 15px;
  left: 5%;
  font-size: 0.9rem;
  font-weight: 200;
  color: var(--light);
}

#secThird .tag {
  position: absolute;
  top: 30px;
  left: 0%;
}

#secThird .tag h5 {
  padding-left: 10px;
  font-weight: 200;
}
/* Header end */

/* Main posts start */
#mainPosts {
  height: 80vh;
}

#mainPosts #posts {
  height: 100vh;
  padding: 5px;
  background-color: grey;
  border: 1px solid red;
}

#mainPosts #posts div {
  height: 100%;
  /* padding: 5px; */
  background-color: palegreen;
  border: 1px solid orange;
}

#mainPosts #side {
  height: 100%;
  padding: 5px;
  background-color: green;
  border: 1px solid red;
}
/* Main posts end */
